server:
  port: 8090

spring:
  datasource:
    hikari:
      driver-class-name: org.postgresql.Driver
  data:
    jpa:
      repositories:
        enabled: true
    mongodb:
      auto-index-creation: true
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-version: 0
    out-of-order: true
    baseline-on-migrate: true
    mixed: true
  cloud:
    openfeign:
      http2client:
        enabled: true
      okhttp:
        enabled: false
      httpclient:
        enabled: false

app:
  scraping:
    proxy:
      url: https://api.scrapingant.com/v2/general/
      api-key: ${SCRAPING_PROXY_API_KEY}
  crawlers:
    - name: goodreads
      enabled: true
      base-url: https://www.goodreads.com
      rate-limit:
        requests-per-minute: 30
        burst: 5
      headers:
        user-agent: Mozilla/5.0
        accept-language: en-US
      path:
        book-result-selector: "a.bookTitle[itemprop=url]"
        search: /search?q={formattedTitle}
        title-space-separator: +
  #  - name: amazon-books
  #    enabled: true
  #    base-url: https://www.amazon.com
  #    rate-limit:
  #      requests-per-minute: 30
  #      burst: 5
  #    headers:
  #      user-agent: Mozilla/5.0
  #      accept-language: en-US
  #    path:
  #      book-result-selector: "div[data-cy=title-recipe] a.a-link-normal"
  #      search: /s?k={formattedTitle}&i=stripbooks
  #      title-space-separator: +
    - name: the-story-graph
      enabled: true
      base-url: https://app.thestorygraph.com
      rate-limit:
        requests-per-minute: 30
        burst: 5
      headers:
        user-agent: Mozilla/5.0
        accept-language: en-US
      path:
        book-result-selector: "h3 > a[href^=/books/]"
        search: /browse?search_term={formattedTitle}
        title-space-separator: +



