server:
  port: 8090

spring:
  datasource:
    hikari:
      driver-class-name: org.postgresql.Driver
  data:
    jpa:
      repositories:
        enabled: true
    mongodb:
      auto-index-creation: true
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-version: 0
    out-of-order: true
    baseline-on-migrate: true
    mixed: true
  cloud:
    openfeign:
      http2client:
        enabled: true
      okhttp:
        enabled: false
      httpclient:
          enabled: false

