server:
  port: 8090

spring:
  datasource:
    hikari:
      driver-class-name: org.postgresql.Driver
  data:
    jpa:
      repositories:
        enabled: true
    mongodb:
      auto-index-creation: true
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-version: 0
    out-of-order: true
    baseline-on-migrate: true
    mixed: true
  cloud:
    openfeign:
      httpclient:
        max-connections: 5
        max-connections-per-route: 1
        connection-timeout: 10000

app:
  scraping:
    proxy:
      url: http://localhost:8000/html
      api-key: ${SCRAPING_PROXY_API_KEY}
  crawlers:
    - name: goodreads
      enabled: true
      base-url: https://www.goodreads.com
      rate-limit:
        requests-per-minute: 30
        burst: 5
      path:
        book-result-selector: "a.bookTitle[itemprop=url]"
        book-rating-count-selector: "div.RatingStatistics__meta"
        book-rating-score-selector: "div.RatingStatistics__rating"
        search: /search?q={formattedTitle}
        title-space-separator: +
      proxy-enabled: false
    - name: amazon-books
      enabled: true
      base-url: https://www.amazon.com
      rate-limit:
        requests-per-minute: 30
        burst: 5
      path:
        book-result-selector: "div[data-cy=title-recipe] a.a-link-normal"
        book-rating-count-selector: "#acrCustomerReviewText"
        book-rating-score-selector: "#averageCustomerReviews span.a-size-small.a-color-base"
        search: /s?k={formattedTitle}&i=stripbooks
        title-space-separator: +
      proxy-enabled: true
    - name: the-story-graph
      enabled: true
      base-url: https://app.thestorygraph.com
      rate-limit:
        requests-per-minute: 30
        burst: 5
      path:
        book-result-selector: "h3 > a[href^=/books/]"
        book-rating-count-selector: "turbo-frame#community_reviews span.text-sm a.inverse-link"
        book-rating-score-selector: "span.average-star-rating"
        search: /browse?search_term={formattedTitle}
        title-space-separator: +
      proxy-enabled: true



